apiVersion: v1
kind: ConfigMap
metadata:
  name: cassandra-config
  namespace: cassandra
data:
  cassandra.yaml: |
    cluster_name: 'MultiRegionCluster'
    num_tokens: 256
    seed_provider:
      - class_name: org.apache.cassandra.locator.SimpleSeedProvider
        parameters:
          - seeds: "cassandra-0.cassandra-headless.cassandra.svc.cluster.local,cassandra-1.cassandra-headless.cassandra.svc.cluster.local,cassandra-2.cassandra-headless.cassandra.svc.cluster.local"
    listen_address: ${POD_IP}
    rpc_address: 0.0.0.0
    broadcast_rpc_address: ${POD_IP}
    endpoint_snitch: GossipingPropertyFileSnitch
    partitioner: org.apache.cassandra.dht.Murmur3Partitioner
    
    # Multi-region configuration
    dc: ${CASSANDRA_DC}
    rack: ${CASSANDRA_RACK}
    
    # Network settings
    storage_port: 7000
    ssl_storage_port: 7001
    native_transport_port: 9042
    
    # Performance tuning
    concurrent_reads: 32
    concurrent_writes: 32
    concurrent_counter_writes: 32
    memtable_flush_writers: 1
    memtable_cleanup_threshold: 0.11
    
    # Compaction settings
    compaction_throughput_mb_per_sec: 16
    concurrent_compactors: 2
    
    # JVM settings
    max_heap_size: 2G
    heap_newsize: 800M
    
    # Authentication
    authenticator: AllowAllAuthenticator
    authorizer: AllowAllAuthorizer
    role_manager: CassandraRoleManager
    
    # Logging
    log_level: INFO
    
  cassandra-rackdc.properties: |
    dc=${CASSANDRA_DC}
    rack=${CASSANDRA_RACK}
    prefer_local=true
    
  jvm.options: |
    -Xms2G
    -Xmx2G
    -Xmn800M
    -XX:+UseG1GC
    -XX:G1HeapRegionSize=16M
    -XX:+UseStringDeduplication
    -XX:+PrintGCDetails
    -XX:+PrintGCTimeStamps
    -XX:+PrintGCDateStamps
    -XX:+PrintHeapAtGC
    -XX:+PrintTenuringDistribution
    -XX:+PrintGCApplicationStoppedTime
    -XX:+PrintPromotionFailure
    -XX:+UseGCLogFileRotation
    -XX:NumberOfGCLogFiles=10
    -XX:GCLogFileSize=10M
    -Djava.net.preferIPv4Stack=true